
/* 引入UI库样式 */
@import '~antd/dist/antd.css';

/* 修改ant design 默认样式 */
.ant-input::-webkit-input-placeholder {
  color: #3A3C40!important;
}
.ant-input:-ms-input-placeholder {
  color: #3A3C40!important;
}
.ant-input::-ms-input-placeholder {
  color: #3A3C40!important;
}
.ant-input::placeholder {
  color: #3A3C40!important;
}

.container {
  margin: 0;
  height: 100%;
  text-align: center;
  background-color: #161616;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
