.container{
  width: 100%;
  padding: 20rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10rem;
}

.avatar{
  border-radius: 50%;
}

.header{
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userInfo{
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.username{
  font-family: 'PingFang Bold';
}

.date{
  font-family: 'PingFang Regular';
}

.likes{
  position: absolute;
  right: 20rem;
}

.content{
  margin: 0 0 0 92rem;
  width: 300rem;
}

.msg{
  margin: 0;
  width: 600rem;
  word-wrap: break-word;
  word-break: break-all;
  text-align: start;
}

.popContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #aaa;
}

