.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-width: 3rem;
  height: 12.5vh;
}

.avatar{
  margin-left: 20rem;
}

.content{
  margin-left: 20rem;
  width: 500rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text{
  margin: 0 0 10rem 0;
  width: 500rem;
  text-align: left;
  font-family: 'PingFang Bold';
}