.container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20rem 0 20rem;
  background-color: #19191B;
}

.text{
  margin-left: 40rem;
  font-family: 'PingFang Bold'
}

.shareIcon{
  position: absolute;
  right: 50rem;
}
