.container{
  width: 100%;
  height: 100rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.avatar{
  background: url('../../../../assets/img/homepage-heart-background-ic.png') no-repeat center center ;
  border-radius: 10rem;
}

.content{
  margin-left: 20rem;
  width: 330rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.text{
  margin: 20rem 0 0 0;
  width: 330rem;
  text-align: left;
  font-family: 'PingFang Bold';
}

.num{
  font-family: 'PingFang Regular';
}

.moreIcon{
  margin-left: 170rem;
}
