.container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items:center;
}

.avatar{
  margin-left: 30rem;
  background: url('../../../assets/img/player-tape-ic.png') no-repeat center center ;
  border-radius: 50%;
}

.inlineIcon{
  width: 52rem;
  height: 52rem;
  margin-top: 15rem;
  border-radius: 50%;
}

.info{
  width: 460rem;
  display: flex;
  flex-direction: row;
}

.title{
  margin: 0 0 0 20rem;
  font-family: 'PingFang Bold';
  vertical-align: middle;
}

.author{
  margin: 0rem;
  font-family: 'PingFang Regular';
  vertical-align: middle;
  flex-grow: 1;
}

.progress{
  position: absolute;
  display: flex;
  align-items: center;
  right: 30rem;
}
