.container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30rem 0 30rem;
  background-color: #19191B;
}

.text{
  margin-left: 30rem;
}

.search{
  margin-left: 430rem;
}

.more{
  margin-left: 40rem;
}
