.container{
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10rem;
}

.index{
  font-family: 'PingFang Medium';
  font-size: 28rem;
  color: #2E2F31;
}

.content{
  width: 620rem;
  margin-left: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name{
  margin: 0;
  font-family: 'PingFang Bold';
}

.singer{
  margin: 0;
  font-family: 'PingFang Regular';
}

.playIcon{
  position: absolute;
  right: 75rem;
}

.moreIcon{
  position: absolute;
  right: 0rem;
}